<mat-nav-list>
  <div class="logo">
    <h1 style="color: aliceblue;" >Logo</h1>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>Dashboard
  </a> 
  <a mat-list-item routerLink="/profile"><mat-icon>edit</mat-icon> profile</a>
  <a mat-list-item><mat-icon>edit</mat-icon> link</a>
  <a mat-list-item><mat-icon>edit</mat-icon> link</a>
  <a mat-list-item><mat-icon>edit</mat-icon> link</a>
</mat-nav-list>